<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<section id="content">
    <div class="content">
      <div class="content-header">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="widget-box sample-widget">
        <div class="widget-header">
          <h2>Widget Header</h2>
          <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/87118/sample-data-1.png">
        </div>
      </div>
      <div class="widget-box sample-widget">
        <div class="widget-header">
          <h2>Widget Header</h2>
          <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/87118/sample-data-1.png">
        </div>
      </div>
      <div class="widget-box sample-widget">
        <div class="widget-header">
          <h2>Widget Header</h2>
          <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/87118/sample-data-1.png">
        </div>
      </div>
        <div class="widget-box sample-widget">
        <div class="widget-header">
          <h2>Widget Header</h2>
          <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/87118/sample-data-1.png">
        </div>
      </div>  
    </div>
  </section>