<section  id="sidebar"> 
  <div id="sidebar-nav">   
    <ul>
      <li class="active"><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li><a routerLink="/dashboard"><i class="fa fa-desktop"></i> Sidebar 1</a></li>
      <li><a routerLink="/dashboard"><i class="fa fa-usd"></i> Sidebar 2</a></li>
      <li><a routerLink="/dashboard"><i class="fa fa-pencil-square-o"></i> Sidebar 3</a></li>
      <li><a routerLink="/dashboard"><i class="fa fa-sitemap"></i> Sidebar 4</a></li>
      <li><a routerLink="/dashboard"><i class="fa fa-line-chart"></i> Sidebar 5</a></li>
      <li><a routerLink="/dashboard"><i class="fa fa-comments-o"></i> Sidebar 6</a></li>
    </ul>
  </div>
</section>
