
<div style="position: absolute; z-index: 1118811;" bsModal #errorMsg="bs-modal" class="modal fade" id="modalDecision" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
  <div style="position:fixed" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <ng-content select=".modal-body"> </ng-content>
        <form> 
          <div class="form-group">  
              <h4 style="text-align:center;">{{errorMessage}}</h4>
          </div>
        </form>
      </div>
    </div>
  </div> 
</div>

  
  
  
  
  